# ====================
# Python 기본
# ====================
# 바이트 컴파일된 파일
__pycache__/
*.py[cod]
*$py.class

# C 확장 모듈
*.so

# 배포/패키징 디렉터리
build/
dist/
*.egg-info/
.eggs/

# 테스트 캐시
.pytest_cache/

# ====================
# 가상환경
# ====================
# venv, virtualenv, conda env 등
venv/
env/
.venv/
.env/        # dotenv 파일

# ====================
# 환경설정 파일
# ====================
# VSCode
.vscode/
# PyCharm
.idea/

# OS별 불필요 파일
.DS_Store
Thumbs.db

# ====================
# 데이터/로그/DB
# ====================
*.log
logs/
# SQLite 예시
*.sqlite3

# ====================
# Jupyter
# ====================
.ipynb_checkpoints/

# ====================
# 기타
# ====================
# pipenv
Pipfile.lock
# 빌드 캐시
*.egg


# =====================
